[Desktop Entry]
Name=Inkscape 1.4 RC1
Exec=/opt/Inkscape-1.4RC1.AppImage %f
Icon=inkscape
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
